@import url("http://fonts.googleapis.com/css?family=Ubuntu+Mono");
body {
  background: #ccc;
  margin: 0;
  margin-top: 48px;
  font-family: 'Ubuntu Mono', Courier, sans-serif;
}
a,
span {
  line-height: 48px;
}
#nav-bar {
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 0;
  right: 0;
  background: #303030;
  color: #dedede;
  padding: 0 48px;
  user-select: none;
  width: 100%;
}
#nav-bar a {
  cursor: pointer;
  color: #dedede;
  text-decoration: none;
}
#nav-bar a:hover {
  text-decoration: none;
}
#nav-bar .logo,
#nav-bar .mobile {
  display: none;
}
#nav-bar ul {
  display: none;
}
#nav-bar.active .ellipsis {
  visibility: hidden;
}
#nav-bar.active ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#nav-bar.active ul li {
  margin-left: 2em;
}
#nav-bar.active .mobile {
  display: inline;
}
#nav-bar >.nav-item>.method:before {
  visibility: visible;
}
.logo,
.nav-item {
  cursor: pointer;
}
.logo:hover .method,
.nav-item:hover .method {
  color: #0a7bff;
}
.logo:hover .method:after,
.nav-item:hover .method:after,
.logo:hover .method:before,
.nav-item:hover .method:before {
  visibility: visible;
}
.method:after {
  content: '()';
  color: #dedede;
  visibility: hidden;
}
.method:before {
  content: '.';
  color: #dedede;
  visibility: hidden;
}
@media (min-width: 640px) {
  #nav-bar .menu {
    display: none;
  }
  #nav-bar .logo {
    display: inline;
  }
  #nav-bar .logo .method:before {
    content: '';
  }
  #nav-bar ul {
    display: inline-block;
    float: right;
    margin: 0;
  }
  #nav-bar ul li {
    display: inline-block;
  }
  #nav-bar.active .mobile {
    display: none;
  }
}
.page {
  box-sizing: border-box;
  margin: auto;
  max-width: 640px;
  padding: 10px;
  font-family: courier, monospace;
  font-size: 12px;
  line-height: 36px;
  background: #fff;
}
.content {
  max-width: 430px;
  margin: auto;
}
.word-count {
  text-align: right;
  margin-bottom: 128px;
}
h1,
h2 {
  text-align: center;
  font-size: 12px;
  font-weight: normal;
  margin: 0;
}
h2 {
  margin-bottom: 36px;
}
p {
  margin: 0;
  text-indent: 3em;
}
.end {
  text-align: center;
  margin: 36px 0;
  text-transform: uppercase;
}
