// @import url('https://fonts.googleapis.com/css2?family=Lobster&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*
  box-sizing border-box

body
  position absolute
  margin 0
  padding 0
  top 0
  left 0
  right 0
  bottom 0
  color #303030
  font-family "Open Sans"

.header
  max-width 500px
  width 100%
  margin auto
  left 0
  right 0
  text-align center

  &__title
    font-size 36px
    font-family "Ubuntu Mono"
    margin 20px 0
    font-weight 400

    &--accent
      color #0A7BFF
  
.nav
  max-width 500px
  width 100%
  margin auto
  padding 0 10px
  color #7c7c7c
  font-size 13px
  font-family 'Ubuntu Mono'

  &__list
    list-style none
    width 100%
    padding 0
    margin 0
    border-top 1px solid #7c7c7c
    border-bottom 1px solid #7c7c7c
    display flex
    justify-content space-around

    &--social
      justify-content center

  &__item
    text-align center
    text-transform uppercase
    color #7c7c7c

  &__link
    color inherit
    cursor pointer
    text-decoration none
    display block
    margin -1px 0
    padding 14px 0
    border-top 1px solid transparent
    border-bottom 1px solid transparent
    letter-spacing 1px

    &--social
      font-size 18px
      margin -1px 20px -1px 20px
      padding 11px 0

    &--inactive
      text-decoration line-through
      pointer-events none
      cursor default

    &:hover
      color #000
      border-top 1px solid #000
      border-bottom 1px solid #000

.main
  max-width 500px
  width 100%
  margin auto
  left 0
  right 0

.article
  &--feature
    // display flex
    // align-content space-between
    // align-items top
    padding 12px 10px
    text-align center

  &__image--feature
    width 150px
    height 150px
    // width 125px
    // height 125px
    // padding-right 20px
    // border-right 1px solid #7c7c7c

  &__text--feature
    // font-size 15px
    font-size 13px
    margin 0
    margin-top 12px
    padding 0
    // margin-left 20px
    line-height 25px
    text-align justify

@media (min-width: 500px)
  .nav
    padding 0

    &__list
      justify-content center

    &__link
      color inherit
      cursor pointer
      text-decoration none
      display block
      margin -1px 12px -1px 12px
      padding 14px 0
      border-top 1px solid transparent
      border-bottom 1px solid transparent
      letter-spacing 1px

  .article
    &--feature
      display flex
      align-content space-between
      align-items top
    padding 12px 0

    &__image--feature
      width 145px
      height 125px
      padding-right 20px
      border-right 1px solid #7c7c7c

    &__text--feature
      font-size 15px
      margin-left 20px
      margin-top 0
